---
import Icon from "astro-icon";

export interface Props {
  href: string;
  ariaLabel: string;
  icon: string;
}

const { ariaLabel, href, icon } = Astro.props;
---

<a
  href={href}
  class="ml-4 hover:text-green-500 dark:text-white dark:hover:text-green-500"
  aria-label={ariaLabel}
  rel="noopener"
>
  <Icon class="h-4" name={icon} />
</a>
