---
import FooterIcon from "./FooterIcon.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <div class="mb-3 mt-4">
    <div class="flex flex-row">
      <div class="basis-3/4 text-left">
        <div class="flex flex-row mb-2">
          <a
            class="mr-2 hover:text-green-500 dark:text-white dark:hover:text-green-500"
            href="/imprint">Impressum</a
          >
          <a
            class="mr-2 hover:text-green-500 dark:text-white dark:hover:text-green-500"
            href="/blog">Beiträge</a
          >
          <a
            class="mr-2 hover:text-green-500 dark:text-white dark:hover:text-green-500"
            href="/about">Über mich</a
          >
        </div>
        <div>
          &copy; {currentYear} Alexander Hodes.
        </div>
      </div>
      <div class="basis-1/4 justify-end flex flex-row">
        <FooterIcon ariaLabel="rss" href="/rss.xml" icon="fa:feed" />
        <FooterIcon ariaLabel="email" href="#" icon="fa-solid:envelope" />
        <FooterIcon ariaLabel="github" href="#" icon="fa-brands:github" />
      </div>
    </div>
  </div>
</footer>
